<section class="mat-dialog-content">
  <section class="fields title center">
    <h1>Edit your acount</h1>
  </section>

  <section class="fields firstname center">
    <label>Firstname</label>
    <input type="text" id="firstname" placeholder="">
  </section>

  <section class="fields lastname center">
    <label>Lastname</label>
    <input type="text" id="lastname" placeholder="">
  </section>

  <section class="fields age center">
    <label>Age</label>
    <input type="text" id="age" placeholder="">
  </section>

  <section class="fields password center">
    <label>Password</label>
    <input type="password" id="password" placeholder="">
  </section>

  <section class="fields button center">
    <a (click)="updateUser()" class="button">
      <button class="submit submit-hover">SUBMIT</button>
    </a>
  </section>
</section>

