<h1> Welcome on this website</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User management</h5>
          <p class="card-text">You can show users list add and also suppress users</p>
          <button (click)="goToGetUsers()" class="btn btn-primary" > Show the users </button>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Association management</h5>
          <p class="card-text">You can show associations list add and also suppress associations</p>
          <button class="btn btn-primary"  (click)="goToAssociations()"> Show the associations </button>
        </div>
      </div>
    </div>
  </div>

