<br>

<div>
    <h2 class="textConnectionPage">Connection page</h2>
</div>

<br><br>

<div class="createProfile">
    <button (click)="createProfile()">Creer Compte</button>
</div>

<div class="loginCompenent">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="username" class="input"/>
    <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password" class="input"/>
    <br><br>
    <a (click)="login()"><button>Login</button></a>
</div>