tr {
    background-color: lightgrey;
}

.searchClass {
    text-align: center;
}

#searchButton {
    margin-left: 10px;
}

.actualAssociations{
    text-align: center;
}

.addAssociation{
    text-align: center;
}