<div>
  <section class="labelDiv">
    <img src="assets/logo.png">
  </section>

  <section class="categories">
    <a (click)="goToUserList()">
      <button class="buttonCaterogy">USERS</button>
    </a>
  </section>

  <section class="categories">
    <a (click)="goToAssociationList()">
      <button class="buttonCaterogy">ASSOCIATIONS</button>
    </a>
  </section>

  <section class="logoutSection">
    <a (click)="logout()" class="button">
      <button class="logout logout-hover">Logout</button>
    </a>
  </section>

  <section class="accountSection">
    <a (click)="goToDashboard()">
      <button class="account"></button>
    </a>
  </section>
</div>


