<section class="mat-dialog-content">
  <section class="fields center title">
    <h1>Connect to your acount</h1>
  </section>

  <section class="fields center username">
      <label>Username</label>
      <input type="text" id="username" placeholder=""/>
  </section>

  <section class="fields center password">
    <label>Password</label>
    <input type="password" id="password" placeholder=""/>
  </section>

  <section class="fields center button">
    <a  (click)="login()" class="button">
      <button class="login login-hover">LOGIN</button>
    </a>
  </section>
</section>


